html {
    font-family: sans-serif;
}
 
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 200% 200%;
    animation: gradient-animation 10s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

body {
    background-color: rgb(234, 112, 112);
}

#sec-1 {
    padding-top: 0

}

.ala{
   
    color: #fcf6d1;}